#container {
  position: relative;
  background: transparent;
}

#animate {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: transparent;
  font-size: 50px;
}

#animatemirror {
  width: 25px;
  height: 25px;
  position: absolute;
  background-color: transparent;
  font-size: 25px;
}
